.siderow{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.icon{
    color: #606060;
    font-size: large !important;
}
.title{
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}
.siderow:hover{
    background-color: lightgray;
    cursor: pointer;
}
.siderow:hover > .icon{
    color: rgb(248, 55, 55);
}
.siderow:hover > .title{
    font-weight: bold ;
}
.siderow.selected{
    background-color: lightgray;
}
.siderow.selected > .icon{
    color: rgba(255, 0, 0, 0.797);
}
.siderow.selected > .title{
    font-weight: bold;
}